/*! CSS RESET START  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

// a,
// abbr,
// address,
// article,
// aside,
// audio,
// b,
// blockquote,
// body,
// canvas,
// caption,
// cite,
// code,
// dd,
// del,
// details,
// dfn,
// div,
// dl,
// dt,
// em,
// embed,
// fieldset,
// figcaption,
// figure,
// footer,
// form,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// header,
// i,
// iframe,
// img,
// ins,
// kbd,
// label,
// legend,
// li,
// mark,
// menu,
// nav,
// object,
// ol,
// p,
// pre,
// q,
// samp,
// section,
// small,
// span,
// strong,
// sub,
// summary,
// sup,
// time,
// ul,
// var,
// video {
// margin: 0;
// padding: 0;
// border: 0;
// font-size: 100%;
// font-weight: inherit;
// font-style: inherit;
// }

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// ul,
// ol {
//   list-style: none;
// }

/* Remove default margin */
// body,
// h1,
// h2,
// h3,
// h4,
// p,
// ul[class],
// ol[class],
// li,
// figure,
// figcaption,
// blockquote,
// dl,
// dd {
//   margin: 0;
// }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

/*! CSS RESET END  */
