@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

header {
  height: 50px;
  margin: 45px 0;
}

.container {
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link_full {
  padding: 20px 30px;
  background-color: #072327;
  text-transform: lowercase;
  font-size: 18px;
  color: #fff;
  transition: 0.2s linear;

  &:hover {
    color: #fff;
    background-color: #c58200;
  }
}

.link_empty {
  font-size: 18px;
  text-transform: lowercase;
  padding: 20px 30px;
  border-radius: 6px;
  border: 2px solid #c58200;
  background-color: transparent;
  color: #000;
  transition: 0.2s linear;

  &:hover {
    color: #fff;
    background-color: #c58200;
  }
}
header {
  .container {
    position: unset;
  }
  .mobile_nav_button {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 101;

      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #000;
        top: calc(50% - 3px);
        content: "";
        transition: 0.2s ease-out;
      }

      span {
        &::after {
          position: absolute;
          left: 0;
          width: 100%;
          height: 6px;
          background-color: #000;
          top: 0;
          content: "";
          transition: 0.2s ease-out;
          transform-origin: left;
        }

        &::before {
          position: absolute;
          left: 0;
          width: 100%;
          height: 6px;
          background-color: #000;
          bottom: 0;
          content: "";
          transition: 0.2s ease-out;
          transform-origin: left;
        }
      }

      &.active {
        &::after {
          transform: translateX(-100%);
          opacity: 0;
          background-color: #fff;
        }

        span {
          &::after {
            transform: rotateZ(45deg);
            background-color: #fff;
            top: 3px;
          }

          &::before {
            bottom: 3px;
            transform: rotateZ(-45deg);
            background-color: #fff;
          }
        }
      }
    }
  }
  #navigation {
    @media (max-width: 1024px) {
      z-index: 100;
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      transform: translateX(100%);
      transition: 0.3s ease-out;

      &.active {
        transform: translate(0);
      }
      #navbarNavDropdown {
        height: 100%;
        #menu-top-menu {
          height: 100%;
          flex-direction: column;
          justify-content: space-evenly;
          background-color: #10231f;
          a {
            color: #fff;
            font-size: 54px;

            &::after {
              bottom: -15%;
              left: -50px;
              font-size: 100px;
              opacity: 1;
            }
          }
        }
      }
    }
    @media (max-width: 764px) {
      #navbarNavDropdown {
        #menu-top-menu {
          a {
            font-size: 36px;
            &::after {
              left: -30px;
              font-size: 70px;
            }
          }
        }
      }
    }
    #menu-top-menu {
      display: flex;
      align-items: center;
      li {
        margin-left: 50px;
      }
      a {
        padding: 5px;
        font-size: 20px;
        color: #630f17;
        position: relative;
        transition: 0.1s linear;

        &::after {
          position: absolute;
          content: ".";
          color: #c58200;
          left: 50%;
          transform: translateX(-50%);
          bottom: -15px;
          font-size: 30px;
          transition: 0.2s linear;
          opacity: 0;
        }

        &:hover {
          color: #c58200;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
#homesite {
  #hero {
    .mobile {
      display: none;
    }
    .divider {
      height: 6.2px;
      width: 100%;
    }
    .hero-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 600px;
      max-width: 360px;
      margin: 0 auto;

      .title {
        font-size: 70px;
        font-weight: bold;
      }

      .subtitle {
        font-size: 25px;
        line-height: 30px;
      }

      .text {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
      }
    }
    @media (max-width: 1100px) {
      .img {
        height: 550px;
      }
      .hero-content {
        height: 550px;
      }
    }
    @media (max-width: 1023px) {
      .img {
        height: auto;
      }
      .hero-content {
        height: auto;
      }
      .flex {
        flex-direction: column;
      }
      .mobile {
        display: block;
        margin-bottom: 20px;
      }
      .text {
        margin: 20px 0;
      }
      .link_full {
        margin-bottom: 20px;
      }
      .desctop {
        display: none;
      }
      .hero-content {
        max-width: 600px;
      }
    }
  }
  #grid {
    @media (max-width: 850px) {
      overflow: hidden;
    }
    .container {
      overflow: hidden;
      @media (max-width: 850px) {
        overflow: visible;
      }
    }
    .grid-title {
      font-size: 50px;
      margin-left: 150px;
      margin-bottom: 30px;
      padding: 0 75px;
      position: relative;
      background-color: #fff;
      width: fit-content;
      margin-top: 90px;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #000;
        width: 100vw;
        left: -150px;
        top: 50%;
        z-index: -1;
      }

      @media (max-width: 850px) {
        margin: 90px auto 30px;

        &::before {
          width: 200vw;
          left: -80vw;
        }
      }
      @media (max-width: 764px) {
        font-size: 36px;
        padding: 0 50px;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 30px;

      .grid-section {
        display: block;
        transition: 0.2s ease-in-out;
        position: relative;

        .grid-subtext {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: #00000099;
          box-sizing: border-box;
          padding: 0 5px;
          color: #fff;
          text-align: right;
          transition: 0.2s linear;
          opacity: 0;
        }

        &:hover {
          .grid-subtext {
            opacity: 1;
          }
        }
      }
      :nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      :nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
      }

      :nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    @media (max-width: 1023px) {
      .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        max-width: 480px;
        margin: 0 auto;
        :nth-child(2) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
        }
        :nth-child(3) {
          grid-row-start: 2;
          grid-row-end: 4;
          grid-column-start: 1;
        }
        :nth-child(5) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
        }
      }
    }
  }

  #about,
  #collection {
    height: 450px;
    margin-top: 120px;
    .mobile {
      display: none;
    }
    @media (max-width: 876px) {
      height: auto;
      .desctop {
        display: none !important;
      }
      .mobile {
        display: block;
      }
      .text {
        margin: 50px 0;
      }
      .title {
        margin-bottom: 50px;
      }
    }
    @media (max-width: 764px) {
      .title {
        font-size: 36px !important;
      }
    }
    .flex {
      justify-content: space-evenly;
      @media (max-width: 980px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px;
      }
      @media (max-width: 876px) {
        display: flex;
        flex-direction: column;
      }
    }
    .title {
      font-size: 50px;
      font-weight: bold;
      background: #fff;
      padding: 0 70px;
    }
    .about_content {
      max-width: 420px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      div {
        display: inline-flex;
        padding: 0 50px;
        background: #fff;
      }

      .about_img_second {
        position: absolute;
        left: 0;
        bottom: 30px;
        z-index: -1;
        height: 6px;
        background-repeat: repeat;
        width: 100%;
      }

      .about_img_first {
        top: 30px;
        position: absolute;
        left: 0;
        z-index: -1;
        height: 6px;
        background-repeat: repeat;
        width: 100%;
      }
    }
  }

  #collection {
    .flex {
      @media (max-width: 876px) {
        flex-direction: column-reverse;
      }
    }
  }

  #bestsellers {
    @media (max-width: 850px) {
      overflow: hidden;
    }

    .flex {
      height: auto;
      h3,
      h4 {
        font-size: 18px;
        font-weight: 400;
        color: #14120e;
      }
    }
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;

      @media (max-width: 1023px) {
        grid-template-columns: 1fr;
        max-width: 480px;
        grid-row-gap: 40px;
        margin: 0 auto;
      }

      .flex {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        text-align: center;
      }

      img {
        width: 100%;
      }

      .divider {
        width: auto;
        margin: 0 auto;
      }
    }
    .container {
      overflow: hidden;
      @media (max-width: 850px) {
        overflow: visible;
      }
    }
    .bestsellers-title {
      font-size: 50px;
      margin-left: 150px;
      margin-bottom: 30px;
      padding: 0 75px;
      position: relative;
      background-color: #fff;
      width: fit-content;
      margin-top: 90px;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #000;
        width: 100vw;
        left: -150px;
        top: 50%;
        z-index: -1;
      }
      @media (max-width: 850px) {
        margin: 90px auto 30px;

        &::before {
          width: 200vw;
          left: -80vw;
        }
      }
      @media (max-width: 764px) {
        font-size: 36px;
        padding: 0 50px;
      }
    }
    .categories {
      margin-top: 120px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;

      @media (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        max-width: 560px;
        margin: 90px auto 0;
      }
      @media (max-width: 550px) {
        grid-template-columns: 1fr;
      }
      .categories-item {
        box-sizing: border-box;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        color: #072327;
        border: 1px solid #c58200;
        transition: 0.2s linear;

        &:hover {
          color: #c58200;
        }

        p {
          margin-top: 50px;
          font-size: 25px;
          font-weight: lighter;
        }
      }
    }
  }

  #advise {
    @media (max-width: 850px) {
      overflow: hidden;
    }
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
      @media (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        img {
          margin: 0 auto;
        }
      }
      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }
      .product {
        border: 2px solid #fff;
        border-radius: 10px;
        transition: 0.2s linear;

        &:hover {
          border: 2px solid #c58200;
        }
      }

      img {
        border-radius: 8px;
      }

      .title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
        color: #14120e;
        font-size: 18px;
        font-weight: 400;
      }

      .price {
        text-align: center;
        color: #14120e;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
      }
    }
    .container {
      overflow: hidden;
      @media (max-width: 850px) {
        overflow: visible;
      }
    }
    .advise-title {
      font-size: 50px;
      margin-left: 150px;
      margin-bottom: 30px;
      padding: 0 75px;
      position: relative;
      background-color: #fff;
      width: fit-content;
      margin-top: 90px;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #000;
        width: 100vw;
        left: -150px;
        top: 50%;
        z-index: -1;
      }
      @media (max-width: 850px) {
        margin: 90px auto 30px;

        &::before {
          width: 200vw;
          left: -80vw;
        }
      }
      @media (max-width: 764px) {
        font-size: 36px;
        padding: 0 50px;
      }
    }
  }
  #title-part {
    @media (max-width: 850px) {
      overflow: hidden;
    }
    .container {
      overflow: hidden;
      @media (max-width: 850px) {
        overflow: visible;
      }
    }
    h1 {
      font-size: 50px;
      margin-left: 150px;
      margin-bottom: 60px;
      padding: 0 75px;
      position: relative;
      background-color: #fff;
      width: fit-content;
      margin-top: 90px;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #000;
        width: 100vw;
        left: -150px;
        top: 50%;
        z-index: -1;
      }
      @media (max-width: 850px) {
        margin: 90px auto 30px;

        &::before {
          width: 200vw;
          left: -80vw;
        }
      }
      @media (max-width: 764px) {
        font-size: 36px;
        padding: 0 50px;
      }
    }
  }
}

// border-top-left-radius: 158px;
// border-top-right-radius: 158px;

footer {
  height: 400px;
  max-width: 1050px;
  width: calc(100% - 316px);
  margin: 120px auto 0;
  position: relative;
  &::before {
    position: absolute;
    left: -158px;
    top: 0;
    height: 400px;
    width: 188px;
    background-color: #f2f2f2;
    border-top-left-radius: 158px;
    content: "";
  }
  &::after {
    position: absolute;
    right: -158px;
    top: 0;
    height: 400px;
    width: 188px;
    background-color: #f2f2f2;
    border-top-right-radius: 158px;
    content: "";
  }
  .container {
    background-color: #f2f2f2;
  }
  .flex {
    align-items: flex-start;
    padding-top: 90px;
  }
  .line-divider {
    position: absolute;
    background-repeat: repeat;
    height: 30px;
    width: 100%;
  }
  .footer-content {
    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .footer-line {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      img {
        width: 30px;
        max-height: 30px;
        margin-right: 15px;
      }

      a {
        color: #14120e;
        font-size: 20px;
        font-weight: 300;
      }
    }

    @media (max-width: 1198px) {
      h3 {
        font-size: 16px;
      }
      .footer-line {
        a {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    height: auto;
    width: 100%;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
    .container {
      max-width: unset;
      width: 100%;
      overflow: hidden;
    }
    .flex {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 40px;
    }
    .footer-content {
      margin-top: 40px;
    }
    .line-divider {
      position: absolute;
      left: 50%;
      width: 992px;
      max-width: unset;
      transform: translateX(-50%);
    }
  }
}

.archive {
  .woocommerce-result-count,
  .woocommerce-ordering {
    display: none;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    &::before {
      display: none !important;
    }

    &::after {
      display: none !important;
    }
    @media (max-width: 764px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 505px) {
      grid-template-columns: 1fr;
    }
    .product {
      width: auto !important;
      box-sizing: border-box;
      margin-bottom: 0 !important;
      img {
        margin-bottom: 0 !important;
      }
      .onsale {
        margin: 0 !important;
        border-radius: 0;
        border-bottom-left-radius: 100%;
        background-color: #c58200;
        padding: 0 0 10px 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
      .wrap-product {
        position: relative;

        .wrap-price {
          .wrap-price__product-title-hp {
            color: #000;
          }
          .warp-reg-price,
          .wrap-regular-price {
            color: #630f17;
            display: flex;
            del {
              opacity: 0.6;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
.woocommerce {
  nav.woocommerce-pagination {
    ul {
      border: none;
      li {
        border: none;
        a {
          color: #000;
        }
        .current {
          background-color: transparent !important;
          color: #630f17 !important;
          font-size: 1.44em;
          line-height: 0.48em;
        }
      }
    }
  }
}

.product-template-default {
  #main {
    max-width: 1050px;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 100%;
    position: relative;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      text-align: right;

      @media (max-width: 764px) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    .category {
      text-align: right;
      margin-bottom: 20px;

      a {
        color: #000;
        transition: 0.2s linear;

        &:hover {
          color: #c58200;
        }
      }
    }
  }
  .product {
    .onsale {
      margin: 8px !important;
      border-radius: 0;
      border-bottom-right-radius: 100%;
      background-color: #c58200;
      padding: 0 10px 10px 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }

    .wrapper_content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;

      @media (max-width: 764px) {
        display: flex;
        flex-direction: column-reverse;
        .area-img-prod {
          position: relative;
        }
        .left-side {
          margin-top: 60px;
        }
      }

      .variations {
        margin-top: 1em;
        margin-bottom: 0 !important;
        .label {
          display: none;
        }
        .value {
          ul {
            display: none;
          }
          .selectric-wrapper {
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;

              :first-child {
                display: none;
              }

              li {
                border: 1px solid #c58200;
                border-radius: 18px;
                margin-left: 30px;
                padding: 0px 45px;
                transition: 0.2s linear;
                font-size: 16px;
                cursor: pointer;
                margin-bottom: 1em;
              }

              .selected {
                background-color: #c58200;
                color: #fff;
              }
            }
            .selectric-input {
              display: none;
            }
          }
        }

        td {
          .reset_variations {
            display: none;
          }
        }
      }

      .cart {
        display: flex;
        flex-direction: row-reverse;

        button {
          width: 100%;
          background-color: #072327;
          transition: 0.2s linear;
          height: 47px;
          border-radius: 0;
          &:hover {
            background-color: #072327;
          }
        }

        .quantity {
          input {
            height: 47px;
            border: none;
            background-color: #c58200;
            color: #fff;
          }
        }
      }

      .variations_form {
        display: unset;
        flex-direction: unset;

        button {
          width: unset;
          background-color: unset;
          transition: unset;
          height: unset;
          border-radius: unset;
          &:hover {
            background-color: unset;
          }
        }

        .quantity {
          input {
            height: unset;
            border: unset;
            background-color: unset;
            color: unset;
          }
        }
        .woocommerce-variation-add-to-cart {
          display: flex;
          flex-direction: row-reverse;

          button {
            width: 100%;
            background-color: black;
            transition: 0.2s linear;
            height: 47px;
            border-radius: 0;
            &:hover {
              background-color: black;
            }
          }

          .quantity {
            input {
              height: 47px;
              border: none;
              background-color: #c58200;
              color: #fff;
            }
          }
        }
      }
      .product_meta {
        display: none;
      }

      .reset_variations {
        display: none !important;
      }

      .product_title {
        text-align: right;
      }

      .price {
        text-align: right;
        color: #630f17;
        font-size: 18px;
        font-weight: 400;
        border-bottom: 1px solid #c58200;
        padding-bottom: 10px;
      }

      .woocommerce-product-details__short-description {
        display: none;
      }

      .left-side {
        grid-column: 1 / 7;
      }

      .right-side {
        grid-column: 7 / 12;
      }
    }

    .related {
      li {
        margin-bottom: 0 !important;
      }
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;

        @media (max-width: 764px) {
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 30px;
        }

        @media (max-width: 430px) {
          grid-template-columns: 1fr;
        }
        a:not([class]) {
          display: none;
        }

        &::before {
          display: none;
        }

        a {
          color: #000;
        }

        .product {
          width: 100%;

          img {
            margin-bottom: 0;
          }

          .onsale {
            margin: 0 !important;
            border-radius: 0;
            border-bottom-left-radius: 100%;
            background-color: #c58200;
            padding: 0 0 10px 10px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.add-inform-area {
  @keyframes sweep {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  details[open] {
    .title {
      border-bottom: 1px solid #fff;

      img {
        transform: rotateX(180deg) rotateY(180deg);
      }
    }

    .content {
      opacity: 1;
    }
  }
  .title {
    padding-bottom: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #c58200;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    img {
      transition: 0.3s ease-in-out;
    }
  }
  .content {
    transition: 0.3s ease-in-out;
    animation: sweep 0.5s ease-in-out;
  }
}

.woocommerce-breadcrumb {
  display: none !important;
}

.related.products {
  h2 {
    display: none !important;
  }
}

.related-wrapper {
  @media (max-width: 850px) {
    overflow: hidden;
  }
  .container {
    overflow: hidden;
    width: auto;
    margin: 0;
    @media (max-width: 850px) {
      overflow: visible;
    }
  }
  .title {
    font-size: 32px;
    margin-left: 150px;
    margin-bottom: 60px;
    padding: 0 75px;
    position: relative;
    background-color: #fff;
    width: fit-content;
    margin-top: 60px;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #000;
      width: 100vw;
      left: -150px;
      top: 50%;
      z-index: -1;
    }

    @media (max-width: 850px) {
      margin: 90px auto 30px;

      &::before {
        width: 200vw;
        left: -80vw;
      }
    }
    @media (max-width: 764px) {
      font-size: 20px;
      padding: 0 30px;
    }
  }
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n + 2) {
  width: 50%;
  padding: 10px 0 0 0;
  display: inline-block;
  margin-bottom: -7px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(2n) {
  padding-right: 5px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(2n + 1) {
  padding-left: 5px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(1) {
  padding-left: 0;
}

#kontakt {
  .flex {
    @media (max-width: 1040px) {
      flex-direction: column;

      .wyswig-content {
        text-align: center;
        padding-top: 60px;
      }
      .line {
        display: none;
      }
    }

    @media (max-width: 660px) {
      .links{
        width: 320px;
        height: 320px;
        min-height: auto;
        padding: 0px 50px;
      }

      h1{
        text-align: center;
        margin-top: 30px !important;
        margin-bottom: 10px !important;
        font-size: 38px !important;
      }

      .flex{
        padding: 0px 0 20px 0 !important;
      }

      div{
        min-height: unset !important;
      }
    }
  }
  .wyswig-content {
    display: grid;
    grid-row-gap: 30px;
  }
  .links {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 150px;

    h1 {
      font-size: 50px;
      margin-bottom: 50px;
      margin-top: 0;
      color: #c58200;
    }

    .flex {
      padding: 10px 0 10px 0;
      justify-content: flex-start;
      flex-direction: row;

      img {
        width: 30px;
        height: 30px;
        padding-right: 10px;
      }
      a {
        color: #000;
        transition: 0.2s linear;

        &:hover {
          color: #c58200;
        }
      }
    }
  }
}


.woocommerce{
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  position: relative;
}
