@mixin textBlock($font, $size, $color, $weight) {
  font-family: $font;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin breadcrumbs() {
  .breadcrumbs {
    margin-bottom: 23px;
    margin-left: 45px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      margin-left: 17px;
    }



    i {
      font-size: 5px;
      color: $breadcrumbs-color;

      &:last-child {
        display: none !important;
      }
    }

    span {
      display: flex;
      align-items: center;

      a {
        span {
          margin-right: 8px;
          @include textBlock($text-family,
            $propaganda-description,
            $breadcrumbs-color,
            $regular) font-size: 12px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          letter-spacing: 1.5px;
        }
      }
    }

    span {
      span {
        margin-left: 8px;

        @include textBlock($text-family,
          $propaganda-description,
          $main-gray,
          $regular);
        font-size: 12px;

        @media (max-width: 768px) {
          font-size: 12px;
          word-break: keep-all;
        }

        letter-spacing: 1.5px;
      }
    }
  }
}

.cart-item-menu {
  position: relative;
  margin-right: 10px;

  .header-cart-count {
    position: absolute;
    top: -3px;
    right: -14px;
    @include textBlock($text-family,
      $product-description,
      $main-gray,
      $semi-bold);
  }
}