// COLORS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://use.typekit.net/ynl6doy.css");
$main-color-text-black: #000;
$main-color-text-white: #fff;
$edit-collection: #a89397;
$toorder-collection: #d6b15e;
$commissions-collection: #131c3a;
$main-gray: #636363;
$grid-product-color: #f6f0e1;
$subpage-color: #8a8a8a;
$breadcrumbs-color: #bbb7b8;
$border-color: #707070;
$projects-color-hover: #77815c;
// FONTS SIZES
$desktop-propaganda-size: 35px;
$desktop-title-size: 30px;
$desktop-title-size-collapse: 27px;
$desktop-text-product-size: 25px;
$desktop-text-size: 20px;
$menu-item-size: 17px;
$product-description: 15px;
$propaganda-description: 14px;
$projects-details: 13px;
$smaller: 12px;

//MEDIA QUERIES
$breakpoint-tablet: 1200px;
$breakpoint-tablet-mobile: 991px;
$breakpoint-mobile: 575px;

// FONT FAMILIES
$text-family: "Montserrat",
sans-serif;
$header-family: "vendetta",
serif;
// FONT WEIGHTS
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;