@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://use.typekit.net/ynl6doy.css");
.cart-item-menu {
  position: relative; }
  .cart-item-menu .header-cart-count {
    position: absolute;
    top: -3px;
    right: -14px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #636363;
    font-weight: 600; }

.blocks {
  overflow-x: hidden;
  margin: 90px 125px 0; }
  @media (max-width: 1620px) {
    .blocks {
      margin: 67px 95px 0; } }
  @media (max-width: 1199px) {
    .blocks {
      margin: 67px 65px 0; } }
  @media (max-width: 1024px) {
    .blocks {
      margin: 67px 55px 0; } }
  @media (max-width: 768px) {
    .blocks {
      margin: 67px 45px 0; } }
  @media (max-width: 493px) {
    .blocks {
      margin: 20px 25px 0; } }
  .blocks .container {
    padding: 0; }
    .blocks .container .grid-box {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 45px;
      margin-bottom: 45px; }
      @media (max-width: 768px) {
        .blocks .container .grid-box {
          grid-gap: 35px;
          margin-bottom: 35px; } }
      @media (max-width: 493px) {
        .blocks .container .grid-box {
          grid-gap: 20px;
          margin-bottom: 20px; } }
      .blocks .container .grid-box .section2-prod1-box-1 {
        grid-row: span 6;
        grid-column: span 5;
        position: relative; }
        @media (max-width: 1200px) {
          .blocks .container .grid-box .section2-prod1-box-1 {
            grid-column: span 12; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section2-prod1-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section2-prod1-box-2 {
        grid-row: span 6;
        grid-column: span 7;
        position: relative; }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section2-prod1-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section2-box-1 {
        grid-row: span 6;
        grid-column: span 8;
        position: relative; }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section2-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section2-box-2 {
        grid-row: span 6;
        grid-column: span 4;
        position: relative; }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section2-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section3-box-1 {
        grid-row: span 6;
        grid-column: span 8;
        position: relative; }
        @media (max-width: 1200px) {
          .blocks .container .grid-box .section3-box-1 {
            grid-column: span 12; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section3-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section3-box-2 {
        grid-row: span 9;
        grid-column: span 4;
        position: relative; }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section3-box-2 {
            grid-column: span 4;
            grid-row: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section3-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section3-box-3 {
        grid-row: span 3;
        grid-column: span 4;
        position: relative; }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section3-box-3 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section3-box-3 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section3-box-4 {
        grid-row: span 3;
        grid-column: span 4;
        position: relative; }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section3-box-4 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section3-box-4 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section4-box-1 {
        grid-row: span 3;
        grid-column: span 7;
        position: relative;
        width: 100%; }
        @media (max-width: 1200px) {
          .blocks .container .grid-box .section4-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section4-box-2 {
        grid-row: span 6;
        grid-column: span 5;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section4-box-2 {
            grid-column: span 5; } }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section4-box-2 {
            grid-column: span 8; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section4-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section4-box-3 {
        grid-row: span 6;
        grid-column: span 3;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section4-box-3 {
            grid-column: span 3; } }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section4-box-3 {
            grid-column: span 4; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section4-box-3 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section4-box-4 {
        grid-row: span 3;
        grid-column: span 4;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section4-box-4 {
            grid-column: span 4;
            grid-row: span 6; } }
        @media (max-width: 768px) {
          .blocks .container .grid-box .section4-box-4 {
            grid-column: span 12;
            grid-row: span 3;
            align-self: center; } }
      .blocks .container .grid-box .section4-box-5 {
        grid-row: span 3;
        grid-column: span 9;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section4-box-5 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-singleprop-box-1 {
        grid-row: span 3;
        grid-column: span 8;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-singleprop-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-singleprop-box-2 {
        grid-row: span 6;
        grid-column: span 4;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-singleprop-box-2 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-singleprop-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-singleprop-box-3 {
        grid-row: span 6;
        grid-column: span 4;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-singleprop-box-3 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-singleprop-box-3 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-singleprop-box-4 {
        grid-row: span 3;
        grid-column: span 4;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-singleprop-box-4 {
            grid-column: span 4; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-singleprop-box-4 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-singleprop-box-5 {
        grid-row: span 3;
        grid-column: span 8;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-singleprop-box-5 {
            grid-column: span 8; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-singleprop-box-5 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section1-singleprop-box-1 {
        grid-row: span 6;
        grid-column: span 12;
        position: relative;
        width: 100%; }
      .blocks .container .grid-box .section5-box-1 {
        grid-row: span 3;
        grid-column: span 8;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-box-2 {
        grid-row: span 6;
        grid-column: span 4;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-box-2 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-box-3 {
        grid-row: span 6;
        grid-column: span 5;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-box-3 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-box-3 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-box-4 {
        grid-row: span 3;
        grid-column: span 3;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-box-4 {
            grid-column: span 4; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-box-4 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section5-box-5 {
        grid-row: span 3;
        grid-column: span 7;
        position: relative;
        width: 100%; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section5-box-5 {
            grid-column: span 8; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section5-box-5 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-1 {
        grid-row: span 3;
        grid-column: span 6;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-1 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-2 {
        grid-row: span 6;
        grid-column: span 6;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-2 {
            grid-column: span 8; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section6-box-2 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-3 {
        grid-row: span 6;
        grid-column: span 3;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-3 {
            grid-column: span 4; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section6-box-3 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-4 {
        grid-row: span 3;
        grid-column: span 3;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-4 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section6-box-4 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-5 {
        grid-row: span 3;
        grid-column: span 4;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-5 {
            grid-column: span 6; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section6-box-5 {
            grid-column: span 12; } }
      .blocks .container .grid-box .section6-box-6 {
        grid-row: span 6;
        grid-column: span 5;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-6 {
            grid-column: span 12;
            width: 50%;
            justify-content: center;
            align-self: center;
            justify-self: center; } }
        @media (max-width: 493px) {
          .blocks .container .grid-box .section6-box-6 {
            grid-column: span 12;
            width: 100%; } }
      .blocks .container .grid-box .section6-box-7 {
        grid-row: span 3;
        grid-column: span 7;
        position: relative; }
        @media (max-width: 1024px) {
          .blocks .container .grid-box .section6-box-7 {
            grid-column: span 12;
            grid-row: span 6; } }
      .blocks .container .grid-box .link-hover-product {
        display: block;
        color: white;
        width: 100%;
        height: 100%; }
        .blocks .container .grid-box .link-hover-product .homepage-item-image {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        .blocks .container .grid-box .link-hover-product .position-custom {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center; }
            .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .background-color-apla {
              position: absolute;
              width: 100%;
              height: 100%;
              transition: 0.3s ease;
              z-index: 0;
              background-color: black;
              opacity: 0.05; }
            .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              opacity: 0;
              transition: 0.3s ease; }
              @media (max-width: 1200px) {
                .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product {
                  max-height: 45px;
                  margin-bottom: 0px;
                  flex-direction: row; } }
              .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product img {
                margin-bottom: 25px;
                max-height: 135px; }
                @media (max-width: 1440px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product img {
                    max-height: 85px; } }
                @media (max-width: 1200px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product img {
                    margin-right: 20px; } }
                @media (max-width: 1024px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product img {
                    margin-right: 20px;
                    margin-bottom: 0px; } }
                @media (max-width: 493px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product img {
                    max-height: 55px;
                    margin-bottom: 0px; } }
              .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 {
                margin-bottom: 0; }
                .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: "Montserrat", sans-serif;
                  font-size: 30px;
                  color: #fff;
                  font-weight: 600;
                  text-transform: uppercase; }
                  @media (max-width: 1440px) {
                    .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family {
                      font-size: 25px; } }
                  @media (max-width: 493px) {
                    .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family {
                      font-size: 18px; } }
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family .homepage-product-family {
                    margin-right: 3px;
                    margin-bottom: 0;
                    margin-right: 3px; }
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family .homepage-product-name {
                    margin-right: 3px;
                    margin-bottom: 0; }
                    @media (max-width: 1440px) {
                      .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family .homepage-product-name {
                        font-size: 25px; } }
                    @media (max-width: 493px) {
                      .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product h6 .product-name-family .homepage-product-name {
                        font-size: 18px; } }
              .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product .homepage-product-category {
                font-family: "Montserrat", sans-serif;
                font-size: 30px;
                color: #fff;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center; }
                @media (max-width: 1440px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product .homepage-product-category {
                    font-size: 25px; } }
                @media (max-width: 1200px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product .homepage-product-category {
                    margin-bottom: 0; } }
                @media (max-width: 493px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product .homepage-product-category {
                    font-size: 18px; } }
            .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .left-details-product {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              opacity: 0;
              transition: 0.3s ease; }
              .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .left-details-product p {
                text-transform: uppercase;
                padding: 20px;
                margin-bottom: 0;
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                color: #fff;
                font-weight: 300; }
                @media (max-width: 1440px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .left-details-product p {
                    font-size: 12px; } }
            .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .right-price-product {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              opacity: 0;
              transition: 0.3s ease; }
              .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .right-price-product p {
                text-transform: uppercase;
                padding: 20px;
                margin-bottom: 0;
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                color: #fff;
                font-weight: 600; }
                @media (max-width: 1440px) {
                  .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .right-price-product p {
                    font-size: 12px; } }
        @media (min-width: 1200px) {
          .blocks .container .grid-box .link-hover-product:hover .position-custom .homepage-product-wrap .background-color-apla {
            background-color: #d6b15e;
            opacity: 0.77; }
          .blocks .container .grid-box .link-hover-product:hover .position-custom .homepage-product-wrap .logo-product {
            opacity: 1; }
          .blocks .container .grid-box .link-hover-product:hover .position-custom .homepage-product-wrap .left-details-product {
            opacity: 1; }
          .blocks .container .grid-box .link-hover-product:hover .position-custom .homepage-product-wrap .right-price-product {
            opacity: 1; } }
        @media (max-width: 1200px) {
          .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .background-color-apla {
            background-color: #d6b15e;
            opacity: 0.77; }
          .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .logo-product {
            opacity: 1; }
          .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .left-details-product {
            opacity: 1; }
          .blocks .container .grid-box .link-hover-product .position-custom .homepage-product-wrap .right-price-product {
            opacity: 1; } }
      .blocks .container .grid-box .wrap-single-image {
        width: 100%;
        height: 100%; }
        .blocks .container .grid-box .wrap-single-image .homepage-item-image {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .blocks .container .grid-box .link-hover-subpage {
        display: block;
        color: white;
        width: 100%;
        height: 100%; }
        .blocks .container .grid-box .link-hover-subpage .homepage-item-image {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        .blocks .container .grid-box .link-hover-subpage .position-custom {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center; }
            .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .background-color-apla {
              position: absolute;
              width: 100%;
              height: 100%;
              transition: 0.3s ease;
              z-index: 0;
              background-color: black;
              opacity: 0.05; }
            .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              opacity: 0;
              transition: 0.3s ease; }
              .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-name .homepage-subpage-name {
                opacity: 0;
                transition: 0.3s ease;
                font-family: "Montserrat", sans-serif;
                font-size: 30px;
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 7px; }
                @media (max-width: 1200px) {
                  .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-name .homepage-subpage-name {
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    color: #fff;
                    font-weight: 600; } }
                @media (max-width: 493px) {
                  .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-name .homepage-subpage-name {
                    font-family: "Montserrat", sans-serif;
                    font-size: 17px;
                    color: #fff;
                    font-weight: 600; } }
              .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc {
                opacity: 0;
                transition: 0.3s ease; }
                .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc p {
                  font-family: "Montserrat", sans-serif;
                  font-size: 30px;
                  color: #fff;
                  font-weight: 300;
                  text-transform: uppercase;
                  margin-bottom: 0; }
                  @media (max-width: 1200px) {
                    .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc p {
                      font-family: "Montserrat", sans-serif;
                      font-size: 17px;
                      color: #fff;
                      font-weight: 300; } }
                  @media (max-width: 768px) {
                    .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc p {
                      font-family: "Montserrat", sans-serif;
                      font-size: 15px;
                      color: #fff;
                      font-weight: 300; } }
        @media (min-width: 1200px) {
          .blocks .container .grid-box .link-hover-subpage:hover .position-custom .homepage-subpage-wrap .background-color-apla {
            background-color: #8a8a8a;
            opacity: 0.77; }
          .blocks .container .grid-box .link-hover-subpage:hover .position-custom .homepage-subpage-wrap .details-subpage {
            opacity: 1; }
            .blocks .container .grid-box .link-hover-subpage:hover .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-name .homepage-subpage-name {
              opacity: 1; }
            .blocks .container .grid-box .link-hover-subpage:hover .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc {
              opacity: 1; } }
        @media (max-width: 1199px) {
          .blocks .container .grid-box .link-hover-subpage .wrap-image-apla {
            position: relative;
            height: 100%;
            overflow: hidden; }
            .blocks .container .grid-box .link-hover-subpage .wrap-image-apla .homepage-item-image {
              transform: scale(1.03); }
            .blocks .container .grid-box .link-hover-subpage .wrap-image-apla .wrap-bgc {
              transform: scale(1.03);
              position: absolute;
              right: 0;
              top: 0;
              width: 41%;
              height: 100%;
              overflow: hidden; }
              .blocks .container .grid-box .link-hover-subpage .wrap-image-apla .wrap-bgc .homepage-item-image-bgc {
                transform: scale(1.03);
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: right top;
                background-size: cover;
                content: "";
                filter: blur(11px);
                height: 100%;
                width: 100%; }
                .blocks .container .grid-box .link-hover-subpage .wrap-image-apla .wrap-bgc .homepage-item-image-bgc .layer-white {
                  transform: scale(1.03);
                  background-color: rgba(255, 255, 255, 0.2);
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%; }
          .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .background-color-apla {
            display: none; }
          .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage {
            width: 41%;
            right: 0;
            opacity: 1; }
            .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-name .homepage-subpage-name {
              opacity: 1; }
            .blocks .container .grid-box .link-hover-subpage .position-custom .homepage-subpage-wrap .details-subpage h6 .subpage-desc {
              opacity: 1; } }
      .blocks .container .grid-box .homepage-paragraph-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 378px;
        width: 100%;
        height: 100%; }
        .blocks .container .grid-box .homepage-paragraph-wrap p {
          padding: 57px 0;
          text-transform: uppercase;
          color: #000;
          text-align: center;
          line-height: 34px;
          margin-bottom: 0;
          font-family: "Montserrat", sans-serif;
          font-size: 30px;
          color: #000;
          font-weight: 300; }
          @media (max-width: 1700px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 25px;
              line-height: 30px;
              padding: 55px 0; } }
          @media (max-width: 1600px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 20px;
              line-height: 25px;
              padding: 50px 0; } }
          @media (max-width: 1440px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 22px;
              line-height: 25px;
              padding: 47px 0; } }
          @media (max-width: 1366px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 20px;
              line-height: 25px;
              padding: 25px 0; } }
          @media (max-width: 1366px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 15px;
              line-height: 20px;
              padding: 25px 0; } }
          @media (max-width: 1366px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 13px;
              line-height: 20px;
              padding: 25px 0; } }
          @media (max-width: 768px) {
            .blocks .container .grid-box .homepage-paragraph-wrap p {
              font-size: 13px;
              line-height: 20px;
              padding: 0px 0; } }
      .blocks .container .grid-box .link-hover-propaganda {
        width: 100%;
        height: 100%;
        display: block;
        color: white; }
        .blocks .container .grid-box .link-hover-propaganda .wrap-image {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative; }
          .blocks .container .grid-box .link-hover-propaganda .wrap-image .homepage-item-image {
            overflow: hidden;
            object-fit: cover;
            height: 100%;
            width: 100%;
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            transform: scale(1.05);
            filter: url(#blur);
            filter: blur(0px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
            -webkit-transition: 0.2s -webkit-filter linear;
            -o-transition: 0.2s -o-filter linear; }
        .blocks .container .grid-box .link-hover-propaganda .position-custom {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center; }
            .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end; }
              .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 {
                margin: 0 50px;
                opacity: 0;
                text-align: left;
                transition: 0.3s ease; }
                @media (max-width: 1199px) {
                  .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 {
                    margin: 0 20px; } }
                .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-date .homepage-propaganda-date {
                  font-family: "Montserrat", sans-serif;
                  font-size: 14px;
                  color: #000;
                  font-weight: 300;
                  letter-spacing: 2px;
                  opacity: 0;
                  transition: 0.3s ease;
                  text-transform: uppercase;
                  margin-bottom: 10px; }
                  @media (max-width: 1199px) {
                    .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-date .homepage-propaganda-date {
                      font-family: "Montserrat", sans-serif;
                      font-size: 14px;
                      color: #000;
                      font-weight: 300;
                      opacity: 1; } }
                  @media (max-width: 493px) {
                    .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-date .homepage-propaganda-date {
                      font-size: 12px; } }
                .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-name p {
                  font-family: "vendetta", serif;
                  font-size: 35px;
                  color: #000;
                  font-weight: 500;
                  opacity: 0;
                  transition: 0.3s ease;
                  line-height: 32px; }
                  @media (max-width: 1199px) {
                    .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-name p {
                      font-family: "vendetta", serif;
                      font-size: 24px;
                      color: #000;
                      font-weight: 500; } }
                  @media (max-width: 493px) {
                    .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-name p {
                      font-size: 20px; } }
        @media (min-width: 1200px) {
          .blocks .container .grid-box .link-hover-propaganda:hover .wrap-image .homepage-item-image {
            filter: blur(3px) brightness(93%) opacity(70%);
            -webkit-filter: blur(3px) brightness(93%) opacity(70%);
            -moz-filter: blur(3px) brightness(93%) opacity(70%);
            -o-filter: blur(3px) brightness(93%) opacity(70%);
            -ms-filter: blur(3px) brightness(93%) opacity(70%);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.3');
            filter: blur(3px) brightness(93%) opacity(70%); }
          .blocks .container .grid-box .link-hover-propaganda:hover .position-custom .homepage-propaganda-wrap .details-propaganda h6 {
            opacity: 1; }
            .blocks .container .grid-box .link-hover-propaganda:hover .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-date p {
              opacity: 1; }
            .blocks .container .grid-box .link-hover-propaganda:hover .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-name p {
              opacity: 1; } }
        @media (max-width: 1199px) {
          .blocks .container .grid-box .link-hover-propaganda .homepage-item-image {
            filter: blur(3px) brightness(93%) opacity(70%); }
          .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 {
            opacity: 1; }
            .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-date p {
              opacity: 1; }
            .blocks .container .grid-box .link-hover-propaganda .position-custom .homepage-propaganda-wrap .details-propaganda h6 .propaganda-name p {
              opacity: 1; } }

.link-hover-project,
.link-hover-post {
  display: block;
  color: white;
  width: 100%;
  height: 100%; }
  .link-hover-project .homepage-item-image,
  .link-hover-post .homepage-item-image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .link-hover-project .position-custom,
  .link-hover-post .position-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 5px; }
    .link-hover-project .position-custom .homepage-project-wrap,
    .link-hover-project .position-custom .projects-project-wrap,
    .link-hover-post .position-custom .homepage-project-wrap,
    .link-hover-post .position-custom .projects-project-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      text-align: center; }
      .link-hover-project .position-custom .homepage-project-wrap .background-color-apla,
      .link-hover-project .position-custom .projects-project-wrap .background-color-apla,
      .link-hover-post .position-custom .homepage-project-wrap .background-color-apla,
      .link-hover-post .position-custom .projects-project-wrap .background-color-apla {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
        z-index: 0; }
      .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap,
      .link-hover-project .position-custom .projects-project-wrap .content-project-wrap,
      .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap,
      .link-hover-post .position-custom .projects-project-wrap .content-project-wrap {
        z-index: 2;
        opacity: 0;
        transition: 0.3s ease; }
        .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-title,
        .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-title,
        .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-title,
        .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-title {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          color: #fff;
          font-weight: 600;
          margin-bottom: 15px;
          text-transform: uppercase;
          line-height: 20px; }
          @media (max-width: 1024px) {
            .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-title,
            .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-title,
            .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-title,
            .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-title {
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              color: #fff;
              font-weight: 600;
              margin-bottom: 5px; } }
          @media (max-width: 768px) {
            .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-title,
            .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-title,
            .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-title,
            .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-title {
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              color: #fff;
              font-weight: 600;
              margin-bottom: 0px; } }
        .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-description,
        .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-description,
        .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-description,
        .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-description {
          font-family: "vendetta", serif;
          font-size: 24px;
          color: #fff;
          font-weight: 300;
          line-height: 20px;
          margin-bottom: 45px; }
          @media (max-width: 1024px) {
            .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-description,
            .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-description,
            .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-description,
            .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-description {
              margin-bottom: 15px;
              font-family: "vendetta", serif;
              font-size: 17px;
              color: #fff;
              font-weight: 300; } }
          @media (max-width: 768px) {
            .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-description,
            .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-description,
            .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-description,
            .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-description {
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              color: #fff;
              font-weight: 300;
              margin-bottom: 10px; } }
          .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap .client-description:nth-child(6),
          .link-hover-project .position-custom .projects-project-wrap .content-project-wrap .client-description:nth-child(6),
          .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap .client-description:nth-child(6),
          .link-hover-post .position-custom .projects-project-wrap .content-project-wrap .client-description:nth-child(6) {
            margin-bottom: 0; }
  @media (min-width: 1200px) {
    .link-hover-project:hover,
    .link-hover-post:hover {
      color: white; }
      .link-hover-project:hover .position-custom .projects-project-wrap .background-color-apla,
      .link-hover-project:hover .position-custom .homepage-project-wrap .background-color-apla,
      .link-hover-post:hover .position-custom .projects-project-wrap .background-color-apla,
      .link-hover-post:hover .position-custom .homepage-project-wrap .background-color-apla {
        background-color: #a89397;
        opacity: 0.77; }
      .link-hover-project:hover .position-custom .projects-project-wrap .content-project-wrap,
      .link-hover-project:hover .position-custom .homepage-project-wrap .content-project-wrap,
      .link-hover-post:hover .position-custom .projects-project-wrap .content-project-wrap,
      .link-hover-post:hover .position-custom .homepage-project-wrap .content-project-wrap {
        opacity: 1; } }
  @media (max-width: 1199px) {
    .link-hover-project .position-custom .projects-project-wrap .background-color-apla,
    .link-hover-project .position-custom .homepage-project-wrap .background-color-apla,
    .link-hover-post .position-custom .projects-project-wrap .background-color-apla,
    .link-hover-post .position-custom .homepage-project-wrap .background-color-apla {
      background-color: #a89397;
      opacity: 0.85; }
    .link-hover-project .position-custom .projects-project-wrap .content-project-wrap,
    .link-hover-project .position-custom .homepage-project-wrap .content-project-wrap,
    .link-hover-post .position-custom .projects-project-wrap .content-project-wrap,
    .link-hover-post .position-custom .homepage-project-wrap .content-project-wrap {
      opacity: 1; } }

@media (max-width: 493px) {
  .small-box-1 .position-custom .content-project-wrap,
  .small-box-5 .position-custom .content-project-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .small-box-1 .position-custom .content-project-wrap .wrap-client,
    .small-box-5 .position-custom .content-project-wrap .wrap-client {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 33.33%; }
      .small-box-1 .position-custom .content-project-wrap .wrap-client .client-title,
      .small-box-5 .position-custom .content-project-wrap .wrap-client .client-title {
        font-size: 12px; }
      .small-box-1 .position-custom .content-project-wrap .wrap-client .client-description,
      .small-box-5 .position-custom .content-project-wrap .wrap-client .client-description {
        font-size: 10px;
        padding: 0 2px; }
        .small-box-1 .position-custom .content-project-wrap .wrap-client .client-description:nth-child(6),
        .small-box-5 .position-custom .content-project-wrap .wrap-client .client-description:nth-child(6) {
          margin-bottom: 0; } }

.intro .background-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .intro .background-image .wrap-logo {
    margin-left: 120px;
    margin-right: 120px; }
    @media (max-width: 1620px) {
      .intro .background-image .wrap-logo {
        margin-left: 90px;
        margin-right: 90px; } }
    @media (max-width: 1199px) {
      .intro .background-image .wrap-logo {
        margin-left: 25px;
        margin-right: 25px; } }
    .intro .background-image .wrap-logo .container {
      padding: 0; }
      .intro .background-image .wrap-logo .container .content-slider-home {
        display: flex;
        justify-content: center; }
        .intro .background-image .wrap-logo .container .content-slider-home .home_logo {
          width: 100%;
          margin-top: 82px; }
          .intro .background-image .wrap-logo .container .content-slider-home .home_logo img {
            width: 100%; }

/*# sourceMappingURL=homepage.css.map */
