/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://use.typekit.net/ynl6doy.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! CSS RESET START  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Remove default margin */
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
/*! CSS RESET END  */
.cart-item-menu {
  position: relative;
  margin-right: 10px; }
  .cart-item-menu .header-cart-count {
    position: absolute;
    top: -3px;
    right: -14px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #636363;
    font-weight: 600; }

.container {
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#homesite #grid .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none; }

del {
  text-decoration: line-through; }

header {
  height: 50px;
  margin: 45px 0; }

.container {
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  position: relative; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.link_full {
  padding: 20px 30px;
  background-color: #072327;
  text-transform: lowercase;
  font-size: 18px;
  color: #fff;
  transition: 0.2s linear; }
  .link_full:hover {
    color: #fff;
    background-color: #c58200; }

.link_empty {
  font-size: 18px;
  text-transform: lowercase;
  padding: 20px 30px;
  border-radius: 6px;
  border: 2px solid #c58200;
  background-color: transparent;
  color: #000;
  transition: 0.2s linear; }
  .link_empty:hover {
    color: #fff;
    background-color: #c58200; }

header .container {
  position: unset; }

header .mobile_nav_button {
  display: none; }
  @media (max-width: 1024px) {
    header .mobile_nav_button {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 101; }
      header .mobile_nav_button::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #000;
        top: calc(50% - 3px);
        content: "";
        transition: 0.2s ease-out; }
      header .mobile_nav_button span::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #000;
        top: 0;
        content: "";
        transition: 0.2s ease-out;
        transform-origin: left; }
      header .mobile_nav_button span::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #000;
        bottom: 0;
        content: "";
        transition: 0.2s ease-out;
        transform-origin: left; }
      header .mobile_nav_button.active::after {
        transform: translateX(-100%);
        opacity: 0;
        background-color: #fff; }
      header .mobile_nav_button.active span::after {
        transform: rotateZ(45deg);
        background-color: #fff;
        top: 3px; }
      header .mobile_nav_button.active span::before {
        bottom: 3px;
        transform: rotateZ(-45deg);
        background-color: #fff; } }

@media (max-width: 1024px) {
  header #navigation {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: 0.3s ease-out; }
    header #navigation.active {
      transform: translate(0); }
    header #navigation #navbarNavDropdown {
      height: 100%; }
      header #navigation #navbarNavDropdown #menu-top-menu {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #10231f; }
        header #navigation #navbarNavDropdown #menu-top-menu a {
          color: #fff;
          font-size: 54px; }
          header #navigation #navbarNavDropdown #menu-top-menu a::after {
            bottom: -15%;
            left: -50px;
            font-size: 100px;
            opacity: 1; } }

@media (max-width: 764px) {
  header #navigation #navbarNavDropdown #menu-top-menu a {
    font-size: 36px; }
    header #navigation #navbarNavDropdown #menu-top-menu a::after {
      left: -30px;
      font-size: 70px; } }

header #navigation #menu-top-menu {
  display: flex;
  align-items: center; }
  header #navigation #menu-top-menu li {
    margin-left: 50px; }
  header #navigation #menu-top-menu a {
    padding: 5px;
    font-size: 20px;
    color: #630f17;
    position: relative;
    transition: 0.1s linear; }
    header #navigation #menu-top-menu a::after {
      position: absolute;
      content: ".";
      color: #c58200;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      font-size: 30px;
      transition: 0.2s linear;
      opacity: 0; }
    header #navigation #menu-top-menu a:hover {
      color: #c58200; }
      header #navigation #menu-top-menu a:hover::after {
        opacity: 1; }

#homesite #hero .mobile {
  display: none; }

#homesite #hero .divider {
  height: 6.2px;
  width: 100%; }

#homesite #hero .hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  max-width: 360px;
  margin: 0 auto; }
  #homesite #hero .hero-content .title {
    font-size: 70px;
    font-weight: bold; }
  #homesite #hero .hero-content .subtitle {
    font-size: 25px;
    line-height: 30px; }
  #homesite #hero .hero-content .text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300; }

@media (max-width: 1100px) {
  #homesite #hero .img {
    height: 550px; }
  #homesite #hero .hero-content {
    height: 550px; } }

@media (max-width: 1023px) {
  #homesite #hero .img {
    height: auto; }
  #homesite #hero .hero-content {
    height: auto; }
  #homesite #hero .flex {
    flex-direction: column; }
  #homesite #hero .mobile {
    display: block;
    margin-bottom: 20px; }
  #homesite #hero .text {
    margin: 20px 0; }
  #homesite #hero .link_full {
    margin-bottom: 20px; }
  #homesite #hero .desctop {
    display: none; }
  #homesite #hero .hero-content {
    max-width: 600px; } }

@media (max-width: 850px) {
  #homesite #grid {
    overflow: hidden; } }

#homesite #grid .container {
  overflow: hidden; }
  @media (max-width: 850px) {
    #homesite #grid .container {
      overflow: visible; } }

#homesite #grid .grid-title {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 30px;
  padding: 0 75px;
  position: relative;
  background-color: #fff;
  width: fit-content;
  margin-top: 90px; }
  #homesite #grid .grid-title::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100vw;
    left: -150px;
    top: 50%;
    z-index: -1; }
  @media (max-width: 850px) {
    #homesite #grid .grid-title {
      margin: 90px auto 30px; }
      #homesite #grid .grid-title::before {
        width: 200vw;
        left: -80vw; } }
  @media (max-width: 764px) {
    #homesite #grid .grid-title {
      font-size: 36px;
      padding: 0 50px; } }

#homesite #grid .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px; }
  #homesite #grid .grid .grid-section {
    display: block;
    transition: 0.2s ease-in-out;
    position: relative; }
    #homesite #grid .grid .grid-section .grid-subtext {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #00000099;
      box-sizing: border-box;
      padding: 0 5px;
      color: #fff;
      text-align: right;
      transition: 0.2s linear;
      opacity: 0; }
    #homesite #grid .grid .grid-section:hover .grid-subtext {
      opacity: 1; }
  #homesite #grid .grid :nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4; }
  #homesite #grid .grid :nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4; }
  #homesite #grid .grid :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3; }

@media (max-width: 1023px) {
  #homesite #grid .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    max-width: 480px;
    margin: 0 auto; }
    #homesite #grid .grid :nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1; }
    #homesite #grid .grid :nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 1; }
    #homesite #grid .grid :nth-child(5) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2; } }

#homesite #about,
#homesite #collection {
  height: 450px;
  margin-top: 120px; }
  #homesite #about .mobile,
  #homesite #collection .mobile {
    display: none; }
  @media (max-width: 876px) {
    #homesite #about,
    #homesite #collection {
      height: auto; }
      #homesite #about .desctop,
      #homesite #collection .desctop {
        display: none !important; }
      #homesite #about .mobile,
      #homesite #collection .mobile {
        display: block; }
      #homesite #about .text,
      #homesite #collection .text {
        margin: 50px 0; }
      #homesite #about .title,
      #homesite #collection .title {
        margin-bottom: 50px; } }
  @media (max-width: 764px) {
    #homesite #about .title,
    #homesite #collection .title {
      font-size: 36px !important; } }
  #homesite #about .flex,
  #homesite #collection .flex {
    justify-content: space-evenly; }
    @media (max-width: 980px) {
      #homesite #about .flex,
      #homesite #collection .flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px; } }
    @media (max-width: 876px) {
      #homesite #about .flex,
      #homesite #collection .flex {
        display: flex;
        flex-direction: column; } }
  #homesite #about .title,
  #homesite #collection .title {
    font-size: 50px;
    font-weight: bold;
    background: #fff;
    padding: 0 70px; }
  #homesite #about .about_content,
  #homesite #collection .about_content {
    max-width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    #homesite #about .about_content div,
    #homesite #collection .about_content div {
      display: inline-flex;
      padding: 0 50px;
      background: #fff; }
    #homesite #about .about_content .about_img_second,
    #homesite #collection .about_content .about_img_second {
      position: absolute;
      left: 0;
      bottom: 30px;
      z-index: -1;
      height: 6px;
      background-repeat: repeat;
      width: 100%; }
    #homesite #about .about_content .about_img_first,
    #homesite #collection .about_content .about_img_first {
      top: 30px;
      position: absolute;
      left: 0;
      z-index: -1;
      height: 6px;
      background-repeat: repeat;
      width: 100%; }

@media (max-width: 876px) {
  #homesite #collection .flex {
    flex-direction: column-reverse; } }

@media (max-width: 850px) {
  #homesite #bestsellers {
    overflow: hidden; } }

#homesite #bestsellers .flex {
  height: auto; }
  #homesite #bestsellers .flex h3,
  #homesite #bestsellers .flex h4 {
    font-size: 18px;
    font-weight: 400;
    color: #14120e; }

#homesite #bestsellers .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  @media (max-width: 1023px) {
    #homesite #bestsellers .products {
      grid-template-columns: 1fr;
      max-width: 480px;
      grid-row-gap: 40px;
      margin: 0 auto; } }
  #homesite #bestsellers .products .flex {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center; }
  #homesite #bestsellers .products img {
    width: 100%; }
  #homesite #bestsellers .products .divider {
    width: auto;
    margin: 0 auto; }

#homesite #bestsellers .container {
  overflow: hidden; }
  @media (max-width: 850px) {
    #homesite #bestsellers .container {
      overflow: visible; } }

#homesite #bestsellers .bestsellers-title {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 30px;
  padding: 0 75px;
  position: relative;
  background-color: #fff;
  width: fit-content;
  margin-top: 90px; }
  #homesite #bestsellers .bestsellers-title::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100vw;
    left: -150px;
    top: 50%;
    z-index: -1; }
  @media (max-width: 850px) {
    #homesite #bestsellers .bestsellers-title {
      margin: 90px auto 30px; }
      #homesite #bestsellers .bestsellers-title::before {
        width: 200vw;
        left: -80vw; } }
  @media (max-width: 764px) {
    #homesite #bestsellers .bestsellers-title {
      font-size: 36px;
      padding: 0 50px; } }

#homesite #bestsellers .categories {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  @media (max-width: 1023px) {
    #homesite #bestsellers .categories {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 30px;
      max-width: 560px;
      margin: 90px auto 0; } }
  @media (max-width: 550px) {
    #homesite #bestsellers .categories {
      grid-template-columns: 1fr; } }
  #homesite #bestsellers .categories .categories-item {
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: #072327;
    border: 1px solid #c58200;
    transition: 0.2s linear; }
    #homesite #bestsellers .categories .categories-item:hover {
      color: #c58200; }
    #homesite #bestsellers .categories .categories-item p {
      margin-top: 50px;
      font-size: 25px;
      font-weight: lighter; }

@media (max-width: 850px) {
  #homesite #advise {
    overflow: hidden; } }

#homesite #advise .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  @media (max-width: 1023px) {
    #homesite #advise .products {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto; }
      #homesite #advise .products img {
        margin: 0 auto; } }
  @media (max-width: 700px) {
    #homesite #advise .products {
      grid-template-columns: 1fr; } }
  #homesite #advise .products .product {
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.2s linear; }
    #homesite #advise .products .product:hover {
      border: 2px solid #c58200; }
  #homesite #advise .products img {
    border-radius: 8px; }
  #homesite #advise .products .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    color: #14120e;
    font-size: 18px;
    font-weight: 400; }
  #homesite #advise .products .price {
    text-align: center;
    color: #14120e;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px; }

#homesite #advise .container {
  overflow: hidden; }
  @media (max-width: 850px) {
    #homesite #advise .container {
      overflow: visible; } }

#homesite #advise .advise-title {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 30px;
  padding: 0 75px;
  position: relative;
  background-color: #fff;
  width: fit-content;
  margin-top: 90px; }
  #homesite #advise .advise-title::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100vw;
    left: -150px;
    top: 50%;
    z-index: -1; }
  @media (max-width: 850px) {
    #homesite #advise .advise-title {
      margin: 90px auto 30px; }
      #homesite #advise .advise-title::before {
        width: 200vw;
        left: -80vw; } }
  @media (max-width: 764px) {
    #homesite #advise .advise-title {
      font-size: 36px;
      padding: 0 50px; } }

@media (max-width: 850px) {
  #homesite #title-part {
    overflow: hidden; } }

#homesite #title-part .container {
  overflow: hidden; }
  @media (max-width: 850px) {
    #homesite #title-part .container {
      overflow: visible; } }

#homesite #title-part h1 {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 60px;
  padding: 0 75px;
  position: relative;
  background-color: #fff;
  width: fit-content;
  margin-top: 90px; }
  #homesite #title-part h1::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100vw;
    left: -150px;
    top: 50%;
    z-index: -1; }
  @media (max-width: 850px) {
    #homesite #title-part h1 {
      margin: 90px auto 30px; }
      #homesite #title-part h1::before {
        width: 200vw;
        left: -80vw; } }
  @media (max-width: 764px) {
    #homesite #title-part h1 {
      font-size: 36px;
      padding: 0 50px; } }

footer {
  height: 400px;
  max-width: 1050px;
  width: calc(100% - 316px);
  margin: 120px auto 0;
  position: relative; }
  footer::before {
    position: absolute;
    left: -158px;
    top: 0;
    height: 400px;
    width: 188px;
    background-color: #f2f2f2;
    border-top-left-radius: 158px;
    content: ""; }
  footer::after {
    position: absolute;
    right: -158px;
    top: 0;
    height: 400px;
    width: 188px;
    background-color: #f2f2f2;
    border-top-right-radius: 158px;
    content: ""; }
  footer .container {
    background-color: #f2f2f2; }
  footer .flex {
    align-items: flex-start;
    padding-top: 90px; }
  footer .line-divider {
    position: absolute;
    background-repeat: repeat;
    height: 30px;
    width: 100%; }
  footer .footer-content h3 {
    font-size: 20px;
    margin-bottom: 30px; }
  footer .footer-content .footer-line {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    footer .footer-content .footer-line img {
      width: 30px;
      max-height: 30px;
      margin-right: 15px; }
    footer .footer-content .footer-line a {
      color: #14120e;
      font-size: 20px;
      font-weight: 300; }
  @media (max-width: 1198px) {
    footer .footer-content h3 {
      font-size: 16px; }
    footer .footer-content .footer-line a {
      font-size: 16px; } }
  @media (max-width: 1023px) {
    footer {
      height: auto;
      width: 100%; }
      footer::after {
        display: none; }
      footer::before {
        display: none; }
      footer .container {
        max-width: unset;
        width: 100%;
        overflow: hidden; }
      footer .flex {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 40px; }
      footer .footer-content {
        margin-top: 40px; }
      footer .line-divider {
        position: absolute;
        left: 50%;
        width: 992px;
        max-width: unset;
        transform: translateX(-50%); } }

.archive .woocommerce-result-count,
.archive .woocommerce-ordering {
  display: none; }

.archive .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px; }
  .archive .products::before {
    display: none !important; }
  .archive .products::after {
    display: none !important; }
  @media (max-width: 764px) {
    .archive .products {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 505px) {
    .archive .products {
      grid-template-columns: 1fr; } }
  .archive .products .product {
    width: auto !important;
    box-sizing: border-box;
    margin-bottom: 0 !important; }
    .archive .products .product img {
      margin-bottom: 0 !important; }
    .archive .products .product .onsale {
      margin: 0 !important;
      border-radius: 0;
      border-bottom-left-radius: 100%;
      background-color: #c58200;
      padding: 0 0 10px 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px; }
    .archive .products .product .wrap-product {
      position: relative; }
      .archive .products .product .wrap-product .wrap-price .wrap-price__product-title-hp {
        color: #000; }
      .archive .products .product .wrap-product .wrap-price .warp-reg-price,
      .archive .products .product .wrap-product .wrap-price .wrap-regular-price {
        color: #630f17;
        display: flex; }
        .archive .products .product .wrap-product .wrap-price .warp-reg-price del,
        .archive .products .product .wrap-product .wrap-price .wrap-regular-price del {
          opacity: 0.6;
          margin-right: 4px; }

.woocommerce nav.woocommerce-pagination ul {
  border: none; }
  .woocommerce nav.woocommerce-pagination ul li {
    border: none; }
    .woocommerce nav.woocommerce-pagination ul li a {
      color: #000; }
    .woocommerce nav.woocommerce-pagination ul li .current {
      background-color: transparent !important;
      color: #630f17 !important;
      font-size: 1.44em;
      line-height: 0.48em; }

.product-template-default #main {
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  position: relative; }
  .product-template-default #main h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right; }
    @media (max-width: 764px) {
      .product-template-default #main h1 {
        font-size: 24px;
        margin-bottom: 10px; } }
  .product-template-default #main .category {
    text-align: right;
    margin-bottom: 20px; }
    .product-template-default #main .category a {
      color: #000;
      transition: 0.2s linear; }
      .product-template-default #main .category a:hover {
        color: #c58200; }

.product-template-default .product .onsale {
  margin: 8px !important;
  border-radius: 0;
  border-bottom-right-radius: 100%;
  background-color: #c58200;
  padding: 0 10px 10px 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; }

.product-template-default .product .wrapper_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  @media (max-width: 764px) {
    .product-template-default .product .wrapper_content {
      display: flex;
      flex-direction: column-reverse; }
      .product-template-default .product .wrapper_content .area-img-prod {
        position: relative; }
      .product-template-default .product .wrapper_content .left-side {
        margin-top: 60px; } }
  .product-template-default .product .wrapper_content .variations {
    margin-top: 1em;
    margin-bottom: 0 !important; }
    .product-template-default .product .wrapper_content .variations .label {
      display: none; }
    .product-template-default .product .wrapper_content .variations .value ul {
      display: none; }
    .product-template-default .product .wrapper_content .variations .value .selectric-wrapper ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end; }
      .product-template-default .product .wrapper_content .variations .value .selectric-wrapper ul :first-child {
        display: none; }
      .product-template-default .product .wrapper_content .variations .value .selectric-wrapper ul li {
        border: 1px solid #c58200;
        border-radius: 18px;
        margin-left: 30px;
        padding: 0px 45px;
        transition: 0.2s linear;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 1em; }
      .product-template-default .product .wrapper_content .variations .value .selectric-wrapper ul .selected {
        background-color: #c58200;
        color: #fff; }
    .product-template-default .product .wrapper_content .variations .value .selectric-wrapper .selectric-input {
      display: none; }
    .product-template-default .product .wrapper_content .variations td .reset_variations {
      display: none; }
  .product-template-default .product .wrapper_content .cart {
    display: flex;
    flex-direction: row-reverse; }
    .product-template-default .product .wrapper_content .cart button {
      width: 100%;
      background-color: #072327;
      transition: 0.2s linear;
      height: 47px;
      border-radius: 0; }
      .product-template-default .product .wrapper_content .cart button:hover {
        background-color: #072327; }
    .product-template-default .product .wrapper_content .cart .quantity input {
      height: 47px;
      border: none;
      background-color: #c58200;
      color: #fff; }
  .product-template-default .product .wrapper_content .variations_form {
    display: unset;
    flex-direction: unset; }
    .product-template-default .product .wrapper_content .variations_form button {
      width: unset;
      background-color: unset;
      transition: unset;
      height: unset;
      border-radius: unset; }
      .product-template-default .product .wrapper_content .variations_form button:hover {
        background-color: unset; }
    .product-template-default .product .wrapper_content .variations_form .quantity input {
      height: unset;
      border: unset;
      background-color: unset;
      color: unset; }
    .product-template-default .product .wrapper_content .variations_form .woocommerce-variation-add-to-cart {
      display: flex;
      flex-direction: row-reverse; }
      .product-template-default .product .wrapper_content .variations_form .woocommerce-variation-add-to-cart button {
        width: 100%;
        background-color: black;
        transition: 0.2s linear;
        height: 47px;
        border-radius: 0; }
        .product-template-default .product .wrapper_content .variations_form .woocommerce-variation-add-to-cart button:hover {
          background-color: black; }
      .product-template-default .product .wrapper_content .variations_form .woocommerce-variation-add-to-cart .quantity input {
        height: 47px;
        border: none;
        background-color: #c58200;
        color: #fff; }
  .product-template-default .product .wrapper_content .product_meta {
    display: none; }
  .product-template-default .product .wrapper_content .reset_variations {
    display: none !important; }
  .product-template-default .product .wrapper_content .product_title {
    text-align: right; }
  .product-template-default .product .wrapper_content .price {
    text-align: right;
    color: #630f17;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #c58200;
    padding-bottom: 10px; }
  .product-template-default .product .wrapper_content .woocommerce-product-details__short-description {
    display: none; }
  .product-template-default .product .wrapper_content .left-side {
    grid-column: 1 / 7; }
  .product-template-default .product .wrapper_content .right-side {
    grid-column: 7 / 12; }

.product-template-default .product .related li {
  margin-bottom: 0 !important; }

.product-template-default .product .related .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  @media (max-width: 764px) {
    .product-template-default .product .related .products {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 30px; } }
  @media (max-width: 430px) {
    .product-template-default .product .related .products {
      grid-template-columns: 1fr; } }
  .product-template-default .product .related .products a:not([class]) {
    display: none; }
  .product-template-default .product .related .products::before {
    display: none; }
  .product-template-default .product .related .products a {
    color: #000; }
  .product-template-default .product .related .products .product {
    width: 100%; }
    .product-template-default .product .related .products .product img {
      margin-bottom: 0; }
    .product-template-default .product .related .products .product .onsale {
      margin: 0 !important;
      border-radius: 0;
      border-bottom-left-radius: 100%;
      background-color: #c58200;
      padding: 0 0 10px 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px; }

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.add-inform-area details[open] .title {
  border-bottom: 1px solid #fff; }
  .add-inform-area details[open] .title img {
    transform: rotateX(180deg) rotateY(180deg); }

.add-inform-area details[open] .content {
  opacity: 1; }

.add-inform-area .title {
  padding-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #c58200;
  font-size: 15px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  cursor: pointer; }
  .add-inform-area .title img {
    transition: 0.3s ease-in-out; }

.add-inform-area .content {
  transition: 0.3s ease-in-out;
  animation: sweep 0.5s ease-in-out; }

.woocommerce-breadcrumb {
  display: none !important; }

.related.products h2 {
  display: none !important; }

@media (max-width: 850px) {
  .related-wrapper {
    overflow: hidden; } }

.related-wrapper .container {
  overflow: hidden;
  width: auto;
  margin: 0; }
  @media (max-width: 850px) {
    .related-wrapper .container {
      overflow: visible; } }

.related-wrapper .title {
  font-size: 32px;
  margin-left: 150px;
  margin-bottom: 60px;
  padding: 0 75px;
  position: relative;
  background-color: #fff;
  width: fit-content;
  margin-top: 60px; }
  .related-wrapper .title::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100vw;
    left: -150px;
    top: 50%;
    z-index: -1; }
  @media (max-width: 850px) {
    .related-wrapper .title {
      margin: 90px auto 30px; }
      .related-wrapper .title::before {
        width: 200vw;
        left: -80vw; } }
  @media (max-width: 764px) {
    .related-wrapper .title {
      font-size: 20px;
      padding: 0 30px; } }

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n + 2) {
  width: 50%;
  padding: 10px 0 0 0;
  display: inline-block;
  margin-bottom: -7px; }

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(2n) {
  padding-right: 5px; }

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(2n + 1) {
  padding-left: 5px; }

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(1) {
  padding-left: 0; }

@media (max-width: 1040px) {
  #kontakt .flex {
    flex-direction: column; }
    #kontakt .flex .wyswig-content {
      text-align: center;
      padding-top: 60px; }
    #kontakt .flex .line {
      display: none; } }

@media (max-width: 660px) {
  #kontakt .flex .links {
    width: 320px;
    height: 320px;
    min-height: auto;
    padding: 0px 50px; }
  #kontakt .flex h1 {
    text-align: center;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    font-size: 38px !important; }
  #kontakt .flex .flex {
    padding: 0px 0 20px 0 !important; }
  #kontakt .flex div {
    min-height: unset !important; } }

#kontakt .wyswig-content {
  display: grid;
  grid-row-gap: 30px; }

#kontakt .links {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 150px; }
  #kontakt .links h1 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 0;
    color: #c58200; }
  #kontakt .links .flex {
    padding: 10px 0 10px 0;
    justify-content: flex-start;
    flex-direction: row; }
    #kontakt .links .flex img {
      width: 30px;
      height: 30px;
      padding-right: 10px; }
    #kontakt .links .flex a {
      color: #000;
      transition: 0.2s linear; }
      #kontakt .links .flex a:hover {
        color: #c58200; }

.woocommerce {
  max-width: 1050px;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  position: relative; }

/*# sourceMappingURL=styles.css.map */
